# Test

In [1]:
# Test input() function in iPython Notebook, and see how it works
a = input()

a

In [2]:
print(a)

a

In [7]:
# Test the following to see what happens
# Test 1 : below is how you run a python file through iPython Notebook
%run hello.py

Hello World

# <font color = 'green'> Snakify Python Lesson 1 : Input, Print and Numbers </font>
https://snakify.org/en/lessons/print_input_numbers/
## <font color = 'blue'> Previous and Next </font>

Write a program that reads an integer number and prints its previous and next numbers. See the examples below for the exact format your answers should take. There shouldn't be a space before the period.

Remember that you can convert the numbers to strings using the function **str**.

In all the problems input the data using **input()** and print the result using **print()**.

In [1]:
a = int(input())
nxt = a + 1
prev = a - 1

# Convert the respective int variables to str variables
a = str(a)
nxt = str(nxt)
prev = str(prev)

print("The next number for the number " + a + " is " + nxt + ".")
print("The previous number for the number " + a + " is " + prev + ".")

179
The next number for the number 179 is 180.
The previous number for the number 179 is 178.

### <font color = 'red'> MODEL SOLUTION </font>

In [2]:
n = int(input())
print('The next number for the number ' + str(n) + ' is ' + str(n + 1) + '.')
print('The previous number for the number ' + str(n) + ' is ' + str(n - 1) + '.')

179
The next number for the number 179 is 180.
The previous number for the number 179 is 178.

## <font color = 'blue'> Two Timestamps </font>

A timestamp is three numbers: a number of hours, minutes and seconds. Given two timestamps, calculate how many seconds is between them. The moment of the first timestamp occurred before the moment of the second timestamp.

In all the problems input the data using **input()** and print the result using **print()**.

In [6]:
# TIMESTAMP 1
# -----------
# Timestamp1 hr.  Multiplied by 3600 to convert directly to second
hr1 = int(input()) * 3600

# Timestamp1 min. Multiplied by 60 to convert directly to second
min1 = int(input()) * 60

# Timestamp1 sec
sec1 = int(input())

# TIMESTAMP 1 in seconds
TS1 = hr1 + min1 + sec1
print(TS1)

1
1
1
3661

In [7]:
# TIMESTAMP 2
# -----------
# Timestamp2 hr.  Multiplied by 3600 to convert directly to second
hr2 = int(input()) * 3600

# Timestamp2 min. Multiplied by 60 to convert directly to second
min2 = int(input()) * 60

# Timestamp2 sec
sec2 = int(input())

# TIMESTAMP 2 in seconds
TS2 = hr2 + min2 + sec2
print(TS2)

2
2
2
7322

In [8]:
# CALCULATION : Time lapse in seconds between TS2 and TS1
# -----------------------------------------
TL = TS2 - TS1
print(TL)

3661

### <font color = 'red'> MODEL SOLUTION </font>

In [9]:
# TIMESTAMP1
hours_1 = int(input())
minutes_1 = int(input())
seconds_1 = int(input())

6
1
30

In [10]:
# TIMESTAMP2
hours_2 = int(input())
minutes_2 = int(input())
seconds_2 = int(input())

6
2
10

In [11]:
# TIME LAPSE BETWEEN TS2 AND TS1
print(hours_2 * 3600 + minutes_2 * 60 + seconds_2
    - hours_1 * 3600 - minutes_1 * 60 - seconds_1)

40

## <font color = 'blue'> School Desks </font>

A school decided to replace the desks in three classrooms. Each desk sits two students. Given the number of students in each class, print the smallest possible number of desks that can be purchased.

The program should read three integers: the number of students in each of the three classes, a, b and c respectively.

In the first test there are three groups. The first group has 20 students and thus needs 10 desks. The second group has 21 students, so they can get by with no fewer than 11 desks. 11 desks is also enough for the third group of 22 students. So we need 32 desks in total.

In all the problems input the data using **input()** and print the result using **print()**.

In [4]:
# Read in three integers, i.e.: number of students in each of the three classes
# Number of students in class A

A = int(input())
# Check if number of students is odd or even.
# To add 1 if number of students is odd.  To even out the number
if A % 2 != 0 :
    A += 1

# Number of students in class B
B = int(input())
if B % 2 != 0 :
    B += 1

# Number of students in class C
C = int(input())
if C % 2 != 0 :
    C += 1

20
21
22

In [5]:
# Smallest number of desks for each class
# Smallest number of desks for class A
A_desk = A // 2
print(A_desk)

# Smallest number of desks for class B
B_desk = B // 2
print(B_desk)

# Smallest number of desks for class C
C_desk = C // 2
print(C_desk)

10
11
11

In [6]:
# Smallest possible number of desks that can be purchased.
# i.e.: smallest number of desk for class A + smallest number of desk for class B + smallest number of desk for class C
Total_Desk = A_desk + B_desk + C_desk
print(Total_Desk)

32

### <font color = 'red'> MODEL SOLUTION </font>

In [7]:
a = int(input())
b = int(input())
c = int(input())

print(a // 2 + b // 2 + c // 2 + a % 2 + b % 2 + c % 2)

20
21
22
32